@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    color: #242424;
    text-decoration: none;
    font-family: 'Jost', serif;
    -webkit-tap-highlight-color: transparent; /* Убрать подсвечивание ссылок */
}

/*----------------------------------------------------------*/
/*         Creating sass mixins for various devices
/*--------------------------------------------------------*/
@mixin for-phones {
    @media (max-width: 500px) {
        @content;
    }
}
@mixin for-tablets {
    @media (min-width: 501px) and (max-width: 1350px) {
        @content;
    }
}
@mixin for-mobile-devices {
    @media (max-width: 1350px) {
        @content;
    }
}
@mixin for-desktops {
    @media (min-width: 1351px) {
        @content;
    }
}


body {
    //background: url('resources/background-light.jpg') no-repeat fixed;
    -webkit-transition: background-image 0.25s ease-in-out;
    transition: background-image 0.25s ease-in-out;
    margin-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*----------------------------------------------------------*/
/*                      Navigation
/*--------------------------------------------------------*/
.Nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
    img {
        content: url(resources/logo-dark.png);
        width: 10rem;
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 2.2rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
    }
    h2 {
        color: #797979;
        font-size: 1.2rem;
        margin-top: 0;
        text-align: center;
    }
    a {
        font-size: 1.2rem;
        padding-bottom: 0.25rem;
        background: linear-gradient(#565656, #565656) no-repeat center bottom;
        background-size: 0 1px;
        transition: all 0.3s;
    }
    a:hover {
        background-size: 70% 2px;
    }
}


/*----------------------------------------------------------*/
/*               Character LIST (Small cards)
/*--------------------------------------------------------*/
.CharacterListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.SmallCard {
    display: flex;
    flex-direction: row;
    background: white;
    width: 28vw;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: 10rem;
    @include for-mobile-devices {
        justify-content: center;
        height: 22rem;
        width: 16rem;
        flex-direction: column;
    }
    &.dark-theme {
        background: #6b6b6b;
        color: #d2d2d2;
    }
    &:hover {
        transform: scale(1.01);
        transition: 0.2s;
    }
    img {
        object-fit: cover;
        opacity: 1;
        transition: opacity 0.5s ease 0s;
        @include for-mobile-devices {
            height: 12rem;
        }
    }
    .textField {
        display: flex;
        position: sticky;
        width: 70%;
        justify-self: flex-start;
        align-self: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        @include for-mobile-devices {
            height: 16rem;
        }
    }
    h3 {
        justify-content: flex-start;
        width: auto;
        font-size: 1.3rem;
        font-weight: 800;
        margin: 1rem 1rem 0 1.2rem;
        @include for-mobile-devices {
            font-size: 1rem;
            margin-top: 1rem;
            width: 100%;
            line-height: 1.2rem;
        }
    }
    @media (min-width: 1000px) and (max-width: 1500px) {
        h3 {
            font-size: 1.1rem;
        }
    }
    p {
        font-size: 1rem;
        font-weight: normal;
        width: 100%;
    }
    .statusField {
        margin-left: 1.2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        @include for-mobile-devices {
            top: 4.5rem;
        }
    }
    .characteristics {
        top: 3.2rem;
        font-size: 0.9rem !important;
        color: #acacac;
        margin-top: 2rem;
        margin-bottom: -1rem;
        margin-left: 1.2rem;
        @include for-mobile-devices {
            margin-top: 1rem;
            width: 100%;
        }
    }
    .id {
        font-size: 0.8rem !important;
        color: #acacac;
        margin-left: 0.5rem;
        font-weight: normal;
    }
}


/*-------  Card Statuses  ------*/
.smallCardStatus {
    position: relative;
    right: 0;
    width: 1rem;
    height: 100%;
    @include for-mobile-devices {
        width: 100%;
        height: 1rem;
    }
}
.cardAlive {
    @extend .smallCardStatus;
    background: rgb(120, 181, 110);
}
.cardDead {
    @extend .smallCardStatus;
    background: rgb(214, 61, 46);
}
.cardunknown {
    @extend .smallCardStatus;
    background: rgb(179, 179, 179);
}


/*----------------------------------------------------------*/
/*                   Single Card View
/*--------------------------------------------------------*/
.Card {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    border: solid 6px #ffffff;
    padding: 10px;
    background: white url(resources/card.jpg) center;
    background-size: cover;
    width: 25rem;
    height: 40rem;
    border-radius: 60px;
    overflow: hidden;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 4px 15px -1px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
    @include for-mobile-devices {
        margin-top: 2rem;
        width: 70vw;
        max-height: 34rem;
    }
    &:hover {
        transform: scale(1.002);
        transition: 0.2s;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: bolder;
        text-transform: uppercase;
    }
    img {
        width: 14rem;
        border-radius: 50% !important;
        margin-top: 1rem;
        margin-bottom: 2rem;
        @include for-mobile-devices {
            width: 10rem;
        }
    }
    p {
        font-size: 1.1rem;
        margin: 0.4rem;
    }
    .characteristics {
        font-size: 0.9rem !important;
        color: #6b6b6b !important;
        margin-bottom: -0.5rem;
    }
    .statusField {
        margin-left: -1.5rem;
        padding-left: 25px;
        display: flex;
        align-items: center;
    }
}
.CardControlsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}
.PreviousPage, .NextPage {
    margin: 4rem;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    &:hover {
        transform: scale(0.9);
        transition: 0.1s;
    }
    img {
        width: 100%;
    }
    @include for-mobile-devices {
        display: none;
    }
}


/*---  Card Statuses  ---*/
.Status {
    height: 0.9rem;
    width: 0.9rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    @include for-mobile-devices {
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 0.6rem;
    }
}
.Alive {
    @extend .Status;
    background: rgb(120, 181, 110);
}
.Dead {
    @extend .Status;
    background: rgb(214, 61, 46);
}
.unknown {
    @extend .Status;
    background: rgb(179, 179, 179);
}


/*----------------------------------------------------------*/
/*                        Loaders
/*--------------------------------------------------------*/
.loaderText {
    margin-top: 3rem;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}
.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: loading 0.7s infinite ease-in-out;
    animation: loading 0.7s infinite ease-in-out;
    font-size: 0.5rem;
    margin: auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    p {
        font-size: 2rem;
    }
}
.loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 3.5em;
}
@-webkit-keyframes loading {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes loading {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
.CardLoader,
.CardLoader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.CardLoader {
    z-index: -5;
    margin: 60px auto;
    font-size: 10px;
    position: absolute;
    left: 47%;
    text-align: center;
    border-top: 1.1em solid rgba(255, 255, 255, 0);
    border-right: 1.1em solid rgba(255, 255, 255, 0);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0);
    border-left: 0.6rem solid #303030;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading2 0.5s infinite linear;
    animation: loading2 0.5s infinite linear;
}
@-webkit-keyframes loading2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*----------------------------------------------------------*/
/*                        Dark mode Button
/*--------------------------------------------------------*/
svg {
    position: absolute;
    width: 1px;
}
.dark-mode-switch {
    --color-invert: #ffffff;
    transform: scale(0.5);
    width: 150px;
    height: 150px;
    position: absolute !important;
    right: 0;
    top: 0;
    @include for-mobile-devices {
        transform: scale(0.3);
    }
    &:hover {
        transform: scale(0.43);
        transition: 0.1s;
    }
    .button {
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            filter: blur(20px);
            opacity: 0;
            transition: opacity 1s ease, transform 1s ease;
            transform: perspective(1px) translateZ(0);
            backface-visibility: hidden;
        }
        .power-on {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            fill: none;
            stroke: var(--color-invert);
            stroke-width: 8px;
            stroke-linecap: round;
            stroke-linejoin: round;
            .line {
                opacity: 1;
            }
            .circle {
                opacity: 1;
                transform: rotate(-58deg);
                transform-origin: center 80px;
                stroke-dasharray: 220;
                stroke-dashoffset: 40;
            }
        }
        .power-off {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            fill: none;
            stroke: rgba(24, 24, 24, 0.6);
            stroke-width: 8px;
            stroke-linecap: round;
            stroke-linejoin: round;
            .line {
                opacity: 1;
            }
            .circle {
                opacity: 1;
                transform: rotate(-58deg);
                transform-origin: center 80px;
                stroke-dasharray: 220;
                stroke-dashoffset: 40;
            }
        }
        .power-on {
            filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, .8));
            .line {
                opacity: 0;
                transition: opacity .3s ease 1s;
            }
            .circle {
                opacity: 1;
                stroke-dashoffset: 220;
                transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
            }
        }
    }
    input {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        &:checked {
            + .button {
                &:after {
                    opacity: 0.15;
                    transform: scale(1.1) perspective(1px) translateZ(0);
                    backface-visibility: hidden;
                    transition: opacity .5s ease, transform .5s ease;
                }
                .power-on,
                .power-off {
                    animation: click .3s ease forwards;
                    transform: scale(1);
                    .line {
                        animation: line .8s ease-in forwards;
                    }
                    .circle {
                        transform: rotate(302deg);
                    }
                }
                .power-on {
                    .line {
                        opacity: 1;
                        transition: opacity .05s ease-in .55s;
                    }
                    .circle {
                        transform: rotate(302deg);
                        stroke-dashoffset: 40;
                        transition: transform .4s ease .2s, stroke-dashoffset .4s ease .2s;
                    }
                }
            }
        }
    }
}
@keyframes line {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(10px);
    }
    40% {
        transform: translateY(-25px);
    }
    60% {
        transform: translateY(-25px);
    }
    85% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

